.home-content {
  height: 100vh;
}

.hero-container {
  width: 100%;
  height: calc(100% - 44px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.right-col {
    background-size: cover;
    background-position: center;
    background-image: url("./restaurant.jpg");
}

.left-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 32px;
  position: relative;
}

.hero-card {
  color: black;
}

.left-col h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: -16px;
    color: rgb(255, 221, 1);

  letter-spacing: -7px;
}

.left-img {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: url("./restaurant2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.call-to-action p {
  padding: 0px 16px 80px 8px;
}



